@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    font-family: 'Noto Sans KR';
    font-weight: 100;
}
.jumbotron{
    background-image: url('../img/background.png');
    background-size: cover;
    color: white;
    border-radius: 0rem;
    padding-top: 120px;
}
.navbar {
    background: rgb(0,0,0);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.63);
}

.project-cell{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0.25rem;
}
.project-header {
    background: rgb(212, 212, 212);
}

.project-footer {
    background: rgb(212, 212, 212);
}
.footer {
    background: rgb(50, 50, 50);
}