@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
	width: 100%; height: 100%;
}

@media (max-width:768px){.jumbotron{font-size:15px;}}
@media (min-width:769px) and (max-width:991px){.jumbotron{font-size:17.5px;}}
@media (min-width:992px) and (max-width:1199px){.jumbotron{font-size:20px;}}
@media (min-width:1200px){.jumbotron{font-size:25px;}}

* {
    font-family: 'Noto Sans KR';
    font-weight: 100;
}
.jumbotron{
    background-image: url('../img/background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    color: white;
    border-radius: 0rem;
}
.bg-overlay{
    background-image: url('../img/background.png');
    background-size: cover;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    color: white;
    border-radius: 0rem;
}
nav a{
    color: white;
}
nav a:hover{
    color: rgb(182, 182, 182);
}
.navbar {
    background: rgb(0,0,0);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar.scrolled {
    background: rgba(0, 0, 0, 0.63);
}

.project-cell{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0.25rem;
}
.project-header {
    background: rgb(212, 212, 212);
}

.project-footer {
    background: rgb(212, 212, 212);
}
.footer {
    background: rgb(250, 250, 250);
    font-size: 16px;
}
.footer-content {
    padding-top: 4rem;
    padding-bottom: 6rem;
}
.footer ul a{
    color :black;
    font-weight : 200;
}
.footer li{
    line-height: 36px;
}
.footer ul p{
    margin-bottom: 0;
}
#description{
    line-height: 28px;
}